task-type-llm-router.json
{
  "name": "Task-type LLM router — one OpenAI-compatible key, four models",
  "nodes": [
    {
      "parameters": {},
      "id": "11111111-0000-0000-0000-000000000001",
      "name": "When clicking Test",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-960, 240]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-task-type",
              "name": "task_type",
              "value": "cheap_batch",
              "type": "string"
            },
            {
              "id": "set-prompt",
              "name": "prompt",
              "value": "In one sentence, explain what an n8n workflow is.",
              "type": "string"
            },
            {
              "id": "set-ctx",
              "name": "context_tokens",
              "value": 1000,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "11111111-0000-0000-0000-000000000002",
      "name": "Sample input (edit me)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-740, 240],
      "notes": "Change task_type to autonomous_agent / frontend / long_context / cheap_batch to see it route to a different model. context_tokens > 200000 also forces the long-context model."
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "outputKey": "agent",
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
                "conditions": [
                  {
                    "id": "rule-agent",
                    "leftValue": "={{ $json.task_type }}",
                    "rightValue": "autonomous_agent",
                    "operator": {"type": "string", "operation": "equals"}
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "frontend",
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
                "conditions": [
                  {
                    "id": "rule-frontend",
                    "leftValue": "={{ $json.task_type }}",
                    "rightValue": "frontend",
                    "operator": {"type": "string", "operation": "equals"}
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "long_context",
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
                "conditions": [
                  {
                    "id": "rule-longctx-type",
                    "leftValue": "={{ $json.task_type }}",
                    "rightValue": "long_context",
                    "operator": {"type": "string", "operation": "equals"}
                  },
                  {
                    "id": "rule-longctx-tokens",
                    "leftValue": "={{ $json.context_tokens }}",
                    "rightValue": 200000,
                    "operator": {"type": "number", "operation": "gt"}
                  }
                ],
                "combinator": "or"
              }
            },
            {
              "outputKey": "cheap_batch",
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
                "conditions": [
                  {
                    "id": "rule-cheap",
                    "leftValue": "={{ $json.task_type }}",
                    "rightValue": "cheap_batch",
                    "operator": {"type": "string", "operation": "equals"}
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {"fallbackOutput": "extra", "renameFallbackOutput": "fallback"}
      },
      "id": "11111111-0000-0000-0000-000000000003",
      "name": "Route by task type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [-500, 240],
      "notes": "autonomous_agent -> Kimi (long agent runs). frontend -> GLM (UI/code). long_context OR >200k tokens -> Qwen. cheap_batch -> MiniMax (cheapest). Anything else falls back to Kimi."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.atlascloud.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Content-Type", "value": "application/json"}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"moonshotai/kimi-k2.6\",\n  \"messages\": [{\"role\": \"user\", \"content\": {{ JSON.stringify($json.prompt) }} }],\n  \"max_tokens\": 2048,\n  \"temperature\": 0.3\n}",
        "options": {"timeout": 120000}
      },
      "id": "11111111-0000-0000-0000-000000000004",
      "name": "Kimi K2.6 (agents)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-220, -120],
      "credentials": {
        "httpHeaderAuth": {"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID", "name": "Atlas Cloud API"}
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.atlascloud.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Content-Type", "value": "application/json"}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"zai-org/glm-5.1\",\n  \"messages\": [{\"role\": \"user\", \"content\": {{ JSON.stringify($json.prompt) }} }],\n  \"max_tokens\": 2048,\n  \"temperature\": 0.3\n}",
        "options": {"timeout": 120000}
      },
      "id": "11111111-0000-0000-0000-000000000005",
      "name": "GLM 5.1 (front-end)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-220, 80],
      "credentials": {
        "httpHeaderAuth": {"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID", "name": "Atlas Cloud API"}
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.atlascloud.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Content-Type", "value": "application/json"}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen/qwen3.6-plus\",\n  \"messages\": [{\"role\": \"user\", \"content\": {{ JSON.stringify($json.prompt) }} }],\n  \"max_tokens\": 2048,\n  \"temperature\": 0.2\n}",
        "options": {"timeout": 120000}
      },
      "id": "11111111-0000-0000-0000-000000000006",
      "name": "Qwen 3.6 Plus (long ctx)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-220, 280],
      "credentials": {
        "httpHeaderAuth": {"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID", "name": "Atlas Cloud API"}
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.atlascloud.ai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "Content-Type", "value": "application/json"}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"minimaxai/minimax-m2.7\",\n  \"messages\": [{\"role\": \"user\", \"content\": {{ JSON.stringify($json.prompt) }} }],\n  \"max_tokens\": 2048,\n  \"temperature\": 0.3\n}",
        "options": {"timeout": 120000}
      },
      "id": "11111111-0000-0000-0000-000000000007",
      "name": "MiniMax M2.7 (cheap batch)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-220, 480],
      "credentials": {
        "httpHeaderAuth": {"id": "REPLACE_WITH_YOUR_CREDENTIAL_ID", "name": "Atlas Cloud API"}
      }
    },
    {
      "parameters": {
        "jsCode": "// One incoming item from whichever model the Switch picked.\n// All four are OpenAI-compatible, so the response shape is identical.\nconst out = $input.item.json;\nconst modelRaw = out.model || 'unknown';\nconst model = modelRaw.toLowerCase();\nconst content = out.choices?.[0]?.message?.content || '';\nconst usage = out.usage || {};\n\n// EXAMPLE per-million-token rates (input / output). Replace with your provider's current published rates.\nconst COST = {\n  'moonshotai/kimi-k2.6':   { in: 1.00, out: 4.00 },\n  'zai-org/glm-5.1':        { in: 1.00, out: 4.00 },\n  'qwen/qwen3.6-plus':      { in: 0.30, out: 2.00 },\n  'minimaxai/minimax-m2.7': { in: 0.30, out: 1.20 },\n};\nconst rate = COST[model] || { in: 0, out: 0 };\nconst estCost = (usage.prompt_tokens || 0) / 1e6 * rate.in + (usage.completion_tokens || 0) / 1e6 * rate.out;\n\nreturn {\n  model_used: modelRaw,\n  content,\n  prompt_tokens: usage.prompt_tokens || null,\n  completion_tokens: usage.completion_tokens || null,\n  est_cost_usd: Number(estCost.toFixed(6)),\n};\n"
      },
      "id": "11111111-0000-0000-0000-000000000008",
      "name": "Normalize + tag cost",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [120, 240]
    },
    {
      "parameters": {
        "content": "## Task-type LLM router\n\nOne Header Auth credential (Atlas Cloud key) drives all four models.\n\n**Setup (once):**\n1. Create a **Header Auth** credential named `Atlas Cloud API` — Name: `Authorization`, Value: `Bearer YOUR_KEY`.\n2. Select it in each of the four HTTP Request nodes.\n3. Hit **Test workflow**.\n\nEdit `task_type` in the Sample input node to watch it route to a different model.\n\n**Make it a live API:** swap the *When clicking Test* trigger for a **Webhook** node, then POST `{ task_type, prompt, context_tokens }` to it.",
        "height": 320,
        "width": 360
      },
      "id": "11111111-0000-0000-0000-000000000009",
      "name": "Read me",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-960, -200]
    }
  ],
  "connections": {
    "When clicking Test": {
      "main": [[{"node": "Sample input (edit me)", "type": "main", "index": 0}]]
    },
    "Sample input (edit me)": {
      "main": [[{"node": "Route by task type", "type": "main", "index": 0}]]
    },
    "Route by task type": {
      "main": [
        [{"node": "Kimi K2.6 (agents)", "type": "main", "index": 0}],
        [{"node": "GLM 5.1 (front-end)", "type": "main", "index": 0}],
        [{"node": "Qwen 3.6 Plus (long ctx)", "type": "main", "index": 0}],
        [{"node": "MiniMax M2.7 (cheap batch)", "type": "main", "index": 0}],
        [{"node": "Kimi K2.6 (agents)", "type": "main", "index": 0}]
      ]
    },
    "Kimi K2.6 (agents)":        {"main": [[{"node": "Normalize + tag cost", "type": "main", "index": 0}]]},
    "GLM 5.1 (front-end)":       {"main": [[{"node": "Normalize + tag cost", "type": "main", "index": 0}]]},
    "Qwen 3.6 Plus (long ctx)":  {"main": [[{"node": "Normalize + tag cost", "type": "main", "index": 0}]]},
    "MiniMax M2.7 (cheap batch)":{"main": [[{"node": "Normalize + tag cost", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "meta": {
    "templateCredsSetupCompleted": false,
    "description": "Routes an incoming task to one of four open-weight LLMs through a single OpenAI-compatible endpoint, based on task type (and context size). Returns the model output normalized and tagged with an estimated token cost."
  }
}
